services:

  # Service for your Python application
  cm1:
    # Build the image using the Dockerfile in the current directory
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - static_volume_cm:/clientmanage/staticfiles
      - media_volume_cm:/clientmanage/media
      - db_volume_cm:/clientmanage/db
      - /mnt/nas/develop/clientmanage/db_backups:/clientmanage/nas_backups_mount
    restart: always
    env_file:
      - ./.env



  # Service for Nginx
  nginx:
    image: nginx:latest
    container_name: cm1_nginx
    # Map host port 8900 to Nginx's default HTTP port 80
    ports:
      - "8705:80"
    # Mount the custom Nginx configuration file
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume_cm:/usr/share/nginx/html/static
      - media_volume_cm:/usr/share/nginx/html/media
    # Ensure Nginx starts after the app service
    depends_on:
      - cm1
    restart: always

# Define the named volume that will be shared
volumes:
  static_volume_cm:
  media_volume_cm:
  db_volume_cm:

