<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Email Title</title>
    <style type="text/css">
        @media screen and (max-width: 600px) {
            .container {
                width: 100% !important;
                padding: 10px !important;
            }
        }
    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" style="border: 3px solid #c8a571; padding: 20px;">
                <tr>
                    <td align="center" style="background-color: #c8a571;">
                        <!-- <img src="../../../media/2025_main.png" style="max-width: 500px;" alt=""> -->
                        <img src="cid:embedded_image" alt="Embedded Image" style="max-width: 300px;" alt="">
                    </td>
                </tr>
                <tr>
                    <td > 
                        <h3 style="color: #345C72;">{{ cName }} <br>{{ sirName }} 様</h3>
                        <h3 style="color: #345C72;">新年あけましておめでとうございます。<br>旧年中は格別のご厚情を賜り、心より御礼申し上げます。<br> 本年もどうぞ宜しくお願いいたします。</h3>
                        <p style="font-size: 16px; color: #555555;">昨年は、M&Aやコンサルティング業務に加え、ソフトウェア開発という新たな分野でのご縁をいただき、大変実りある一年となりました。AI研究やプログラミング言語（C言語やPython）の学びを深める中で、小規模企業向けの業務ソフトや不動産管理システムなど、いくつかのシステム開発を手掛ける貴重な機会に恵まれました。ちなみに、この年賀状も自動メール配信システムを活用してお送りしております。</p>
                        <p style="font-size: 16px; color: #555555;">さらに本年より、環境への配慮を重視し、年賀状の送付をペーパーレス化するためにメール形式へと変更させていただきます。何卒ご理解を賜りますようお願い申し上げます。</p>
                        <p style="font-size: 16px; color: #555555;">本年も、皆様とのご縁を大切に、より一層の成長と挑戦を続けてまいります。引き続きのご指導ご鞭撻のほど、何卒よろしくお願い申し上げますとともに、皆様のご健勝とご多幸を心よりお祈り申し上げます。</p>
                        <p style="font-size: 16px; color: #555555;">新しい年が皆様にとりまして素晴らしい一年となりますように。<br>本年もどうぞよろしくお願い申し上げます。</p>
                        <p style="font-size: 16px; color: #555555;">ソリトンキャピタルマネジメント株式会社。</p>
                        <p style="font-size: 16px; color: #555555;">紺野　兼司</p>
                    </td>
                </tr>

            
            <tr>
                <td> 
                    <p style="background-color: #b92329; color: #c8a571;font-size: 12px; font-weight:600; text-align: center;"><br>&copy; 2025 Soliton Capital Management Inc. | <a href="https:soliton-cm.com" style="color: #c8a571;">soliton-cm.com<br><span style="color: #b92329">..</span>  </a></p>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>
</body>